HELP.md
.gradle/

### Build directories ###
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Docker .env ###
.env

### Build Artifacts ###
# *.jar

# ✔ build/libs 아래 결과물만 무시
**/build/libs/*.jar

# war, zip도 같은 폴더에서만 무시
**/build/libs/*.war
**/build/libs/*.zip
