services:
  jenkins:
    image: jenkins/jenkins:2.516.2-lts-jdk21
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - ${HOST_JENKINS_HOME}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    links:
      - worker-1

  worker-1:
    image: jenkins/ssh-agent:latest-jdk21
    volumes:
      - ${HOST_JENKINS_WORKER_1}:/home/jenkins
    environment:
      - JENKINS_SLAVE_SSH_PUBKEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDgl9bWyXiXAhqzx/s/PqHhrd6VK/s3hmB2hRmaEmbu+97qceSexSz7BtReRTpQF0vSTfbzt6rbZD1hyS+zoW+TUFnMCfO43nf60U8goDjrupLTpbBxOiUh8HnyePNIzCoc5SVLJStoGlfL3LGXP59UIg7vDJsBFdqAznqWGwEqwG/inzgdK6bsDormHQlTnENcmrvZGXdFvVnD18vtPel5jfr4Vic7xGTVgocuVRrTgNACMvtoqv6KFM4zDc4QV5RSdOE4e/8W0MANg6p9aa9Q5hyvVBLrpTXZpn4lRHoDvO00KftKBMI9ltF1ACNM0vvMqwCXYYZHopfGApaYDk2FzvZigQTVCc1h/AF4TRBMiZC+DV9VPMFjp0S0o7X0NsNK18s3umiHod9CjBvdRaYisOdpILv+SXQOfmTceVjHLokgrer/MHcXIKzdmzvWU1M0lkpaLphyrCKqbv9c75WjtNPkH6DcHnNuo/4xm1gaHbgBhHC32sxk7BTclwFaUfc=
  sonarqube:
    image: sonarqube:9-community
    ports:
      - "9000:9000"
